@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?66697216');
  src: url('../font/fontello.eot?66697216#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?66697216') format('woff'),
       url('../font/fontello.ttf?66697216') format('truetype'),
       url('../font/fontello.svg?66697216#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66697216#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-note:before { content: '\eb33'; } /* '' */
.icon-youtube:before { content: '\e90e'; } /* '' */
.icon-music-1:before { content: '\eb35'; } /* '' */
.icon-search-3:before { content: '\eb36'; } /* '' */
.icon-flashlight:before { content: '\eb37'; } /* '' */
.icon-mail-3:before { content: '\eb38'; } /* '' */
.icon-heart-3:before { content: '\eb39'; } /* '' */
.icon-heart-empty-2:before { content: '\eb3a'; } /* '' */
.icon-star-3:before { content: '\eb3b'; } /* '' */
.icon-star-empty-2:before { content: '\eb3c'; } /* '' */
.icon-user-3:before { content: '\eb3d'; } /* '' */
.icon-users-1:before { content: '\eb3e'; } /* '' */
.icon-user-add:before { content: '\eb3f'; } /* '' */
.icon-video-2:before { content: '\eb40'; } /* '' */
.icon-picture-2:before { content: '\eb41'; } /* '' */
.icon-camera-3:before { content: '\eb42'; } /* '' */
.icon-layout:before { content: '\eb43'; } /* '' */
.icon-menu-1:before { content: '\eb44'; } /* '' */
.icon-check-1:before { content: '\eb45'; } /* '' */
.icon-cancel-3:before { content: '\eb46'; } /* '' */
.icon-cancel-circled-2:before { content: '\eb47'; } /* '' */
.icon-cancel-squared:before { content: '\eb48'; } /* '' */
.icon-plus-3:before { content: '\eb49'; } /* '' */
.icon-plus-circled-1:before { content: '\eb4a'; } /* '' */
.icon-plus-squared:before { content: '\eb4b'; } /* '' */
.icon-minus-2:before { content: '\eb4c'; } /* '' */
.icon-minus-circled-1:before { content: '\eb4d'; } /* '' */
.icon-minus-squared:before { content: '\eb4e'; } /* '' */
.icon-help-2:before { content: '\eb4f'; } /* '' */
.icon-help-circled-2:before { content: '\eb50'; } /* '' */
.icon-info-1:before { content: '\eb51'; } /* '' */
.icon-info-circled-2:before { content: '\eb52'; } /* '' */
.icon-back:before { content: '\eb53'; } /* '' */
.icon-home-3:before { content: '\eb54'; } /* '' */
.icon-link-2:before { content: '\eb55'; } /* '' */
.icon-attach-3:before { content: '\eb56'; } /* '' */
.icon-lock-3:before { content: '\eb57'; } /* '' */
.icon-lock-open-3:before { content: '\eb58'; } /* '' */
.icon-eye-3:before { content: '\eb59'; } /* '' */
.icon-tag-2:before { content: '\eb5a'; } /* '' */
.icon-bookmark-1:before { content: '\ea3f'; } /* '' */
.icon-bookmarks:before { content: '\ea40'; } /* '' */
.icon-flag-1:before { content: '\ea41'; } /* '' */
.icon-thumbs-up-1:before { content: '\ea42'; } /* '' */
.icon-thumbs-down-1:before { content: '\ea43'; } /* '' */
.icon-download-3:before { content: '\ea44'; } /* '' */
.icon-upload-3:before { content: '\ea45'; } /* '' */
.icon-upload-cloud-2:before { content: '\ea46'; } /* '' */
.icon-reply-1:before { content: '\ea47'; } /* '' */
.icon-reply-all:before { content: '\ea48'; } /* '' */
.icon-forward-1:before { content: '\ea49'; } /* '' */
.icon-quote-1:before { content: '\ea4a'; } /* '' */
.icon-code:before { content: '\ea4b'; } /* '' */
.icon-export-2:before { content: '\ea4c'; } /* '' */
.icon-pencil-3:before { content: '\ea4d'; } /* '' */
.icon-feather:before { content: '\ea4e'; } /* '' */
.icon-print-2:before { content: '\ea4f'; } /* '' */
.icon-retweet-2:before { content: '\ea50'; } /* '' */
.icon-keyboard:before { content: '\ea51'; } /* '' */
.icon-comment-3:before { content: '\ea52'; } /* '' */
.icon-chat-2:before { content: '\ea53'; } /* '' */
.icon-bell-2:before { content: '\ea54'; } /* '' */
.icon-attention-1:before { content: '\ea55'; } /* '' */
.icon-alert:before { content: '\ea56'; } /* '' */
.icon-vcard:before { content: '\ea57'; } /* '' */
.icon-address:before { content: '\ea58'; } /* '' */
.icon-location-3:before { content: '\ea59'; } /* '' */
.icon-map:before { content: '\ea5a'; } /* '' */
.icon-direction:before { content: '\ea5b'; } /* '' */
.icon-compass-2:before { content: '\ea5c'; } /* '' */
.icon-cup:before { content: '\ea5d'; } /* '' */
.icon-trash-3:before { content: '\ea5e'; } /* '' */
.icon-doc-3:before { content: '\ea5f'; } /* '' */
.icon-docs:before { content: '\ea60'; } /* '' */
.icon-doc-landscape:before { content: '\ea61'; } /* '' */
.icon-doc-text:before { content: '\ea62'; } /* '' */
.icon-doc-text-inv:before { content: '\ea63'; } /* '' */
.icon-newspaper-1:before { content: '\ea64'; } /* '' */
.icon-book-open-1:before { content: '\ea65'; } /* '' */
.icon-book-2:before { content: '\ea66'; } /* '' */
.icon-folder-3:before { content: '\ea67'; } /* '' */
.icon-archive:before { content: '\ea68'; } /* '' */
.icon-box-1:before { content: '\ea69'; } /* '' */
.icon-rss-2:before { content: '\ea6a'; } /* '' */
.icon-phone-1:before { content: '\ea6b'; } /* '' */
.icon-cog-3:before { content: '\ea6c'; } /* '' */
.icon-tools:before { content: '\ea6d'; } /* '' */
.icon-share-2:before { content: '\ea6e'; } /* '' */
.icon-shareable:before { content: '\ea6f'; } /* '' */
.icon-basket-1:before { content: '\ea70'; } /* '' */
.icon-bag:before { content: '\ea71'; } /* '' */
.icon-calendar-3:before { content: '\ea72'; } /* '' */
.icon-login-1:before { content: '\ea73'; } /* '' */
.icon-logout-1:before { content: '\ea74'; } /* '' */
.icon-mic-3:before { content: '\ea75'; } /* '' */
.icon-mute:before { content: '\ea76'; } /* '' */
.icon-sound:before { content: '\ea77'; } /* '' */
.icon-volume-1:before { content: '\ea78'; } /* '' */
.icon-clock-3:before { content: '\ea79'; } /* '' */
.icon-hourglass-1:before { content: '\ea7a'; } /* '' */
.icon-lamp-1:before { content: '\ea7b'; } /* '' */
.icon-light-down:before { content: '\ea7c'; } /* '' */
.icon-light-up:before { content: '\ea7d'; } /* '' */
.icon-adjust-1:before { content: '\ea7e'; } /* '' */
.icon-block-2:before { content: '\ea7f'; } /* '' */
.icon-resize-full-2:before { content: '\ea80'; } /* '' */
.icon-resize-small-2:before { content: '\ea81'; } /* '' */
.icon-popup-1:before { content: '\ea82'; } /* '' */
.icon-publish:before { content: '\ea83'; } /* '' */
.icon-window:before { content: '\ea84'; } /* '' */
.icon-arrow-combo:before { content: '\ea85'; } /* '' */
.icon-down-circled-1:before { content: '\ea86'; } /* '' */
.icon-left-circled-1:before { content: '\ea87'; } /* '' */
.icon-right-circled-1:before { content: '\ea88'; } /* '' */
.icon-up-circled-1:before { content: '\ea89'; } /* '' */
.icon-down-open-2:before { content: '\ea8a'; } /* '' */
.icon-left-open-2:before { content: '\ea8b'; } /* '' */
.icon-right-open-2:before { content: '\ea8c'; } /* '' */
.icon-up-open-2:before { content: '\ea8d'; } /* '' */
.icon-down-open-mini:before { content: '\ea8e'; } /* '' */
.icon-left-open-mini:before { content: '\ea8f'; } /* '' */
.icon-right-open-mini:before { content: '\ea90'; } /* '' */
.icon-up-open-mini:before { content: '\ea91'; } /* '' */
.icon-down-open-big:before { content: '\ea92'; } /* '' */
.icon-left-open-big:before { content: '\ea93'; } /* '' */
.icon-right-open-big:before { content: '\ea94'; } /* '' */
.icon-up-open-big:before { content: '\ea95'; } /* '' */
.icon-down-3:before { content: '\ea96'; } /* '' */
.icon-left-3:before { content: '\ea97'; } /* '' */
.icon-right-3:before { content: '\ea98'; } /* '' */
.icon-up-3:before { content: '\ea99'; } /* '' */
.icon-down-dir:before { content: '\ea9a'; } /* '' */
.icon-left-dir:before { content: '\ea9b'; } /* '' */
.icon-right-dir:before { content: '\ea9c'; } /* '' */
.icon-up-dir:before { content: '\ea9d'; } /* '' */
.icon-down-bold-1:before { content: '\ea9e'; } /* '' */
.icon-left-bold-1:before { content: '\ea9f'; } /* '' */
.icon-right-bold-1:before { content: '\eaa0'; } /* '' */
.icon-up-bold-1:before { content: '\eaa1'; } /* '' */
.icon-down-thin:before { content: '\eaa2'; } /* '' */
.icon-left-thin:before { content: '\eaa3'; } /* '' */
.icon-right-thin:before { content: '\eaa4'; } /* '' */
.icon-up-thin:before { content: '\eaa5'; } /* '' */
.icon-ccw-1:before { content: '\eaa6'; } /* '' */
.icon-cw-2:before { content: '\eaa7'; } /* '' */
.icon-arrows-ccw:before { content: '\eaa8'; } /* '' */
.icon-level-down:before { content: '\eaa9'; } /* '' */
.icon-level-up:before { content: '\eaaa'; } /* '' */
.icon-shuffle-2:before { content: '\eaab'; } /* '' */
.icon-loop-1:before { content: '\eaac'; } /* '' */
.icon-switch:before { content: '\eaad'; } /* '' */
.icon-play-3:before { content: '\eaae'; } /* '' */
.icon-stop-3:before { content: '\eaaf'; } /* '' */
.icon-pause-3:before { content: '\eab0'; } /* '' */
.icon-record-1:before { content: '\eab1'; } /* '' */
.icon-to-end-2:before { content: '\eab2'; } /* '' */
.icon-to-start-2:before { content: '\eab3'; } /* '' */
.icon-fast-forward-2:before { content: '\eab4'; } /* '' */
.icon-fast-backward-2:before { content: '\eab5'; } /* '' */
.icon-progress-0:before { content: '\eab6'; } /* '' */
.icon-progress-1:before { content: '\eab7'; } /* '' */
.icon-progress-2:before { content: '\eab8'; } /* '' */
.icon-progress-3:before { content: '\eab9'; } /* '' */
.icon-target-2:before { content: '\eaba'; } /* '' */
.icon-palette:before { content: '\eabb'; } /* '' */
.icon-list-2:before { content: '\eabc'; } /* '' */
.icon-list-add:before { content: '\eabd'; } /* '' */
.icon-signal-2:before { content: '\eabe'; } /* '' */
.icon-trophy-1:before { content: '\eabf'; } /* '' */
.icon-battery:before { content: '\eac0'; } /* '' */
.icon-back-in-time:before { content: '\eac1'; } /* '' */
.icon-monitor-1:before { content: '\eac2'; } /* '' */
.icon-mobile-2:before { content: '\eac3'; } /* '' */
.icon-network-1:before { content: '\eac4'; } /* '' */
.icon-cd-1:before { content: '\eac5'; } /* '' */
.icon-inbox-2:before { content: '\eac6'; } /* '' */
.icon-install:before { content: '\eac7'; } /* '' */
.icon-globe-2:before { content: '\eac8'; } /* '' */
.icon-cloud-3:before { content: '\eac9'; } /* '' */
.icon-cloud-thunder:before { content: '\eaca'; } /* '' */
.icon-flash-2:before { content: '\eacb'; } /* '' */
.icon-moon-1:before { content: '\eacc'; } /* '' */
.icon-flight-1:before { content: '\eacd'; } /* '' */
.icon-paper-plane-1:before { content: '\eace'; } /* '' */
.icon-leaf-1:before { content: '\eacf'; } /* '' */
.icon-lifebuoy:before { content: '\ead0'; } /* '' */
.icon-mouse:before { content: '\ead1'; } /* '' */
.icon-briefcase-1:before { content: '\ead2'; } /* '' */
.icon-suitcase:before { content: '\ead3'; } /* '' */
.icon-dot:before { content: '\ead4'; } /* '' */
.icon-dot-2:before { content: '\ead5'; } /* '' */
.icon-dot-3:before { content: '\ead6'; } /* '' */
.icon-brush-1:before { content: '\ead7'; } /* '' */
.icon-magnet-1:before { content: '\ead8'; } /* '' */
.icon-infinity:before { content: '\ead9'; } /* '' */
.icon-erase:before { content: '\eada'; } /* '' */
.icon-chart-pie-1:before { content: '\eadb'; } /* '' */
.icon-chart-line:before { content: '\eadc'; } /* '' */
.icon-chart-bar-2:before { content: '\eadd'; } /* '' */
.icon-chart-area:before { content: '\eade'; } /* '' */
.icon-tape:before { content: '\eadf'; } /* '' */
.icon-graduation-cap:before { content: '\eae0'; } /* '' */
.icon-language:before { content: '\eae1'; } /* '' */
.icon-ticket:before { content: '\eae2'; } /* '' */
.icon-water:before { content: '\eae3'; } /* '' */
.icon-droplet:before { content: '\eae4'; } /* '' */
.icon-air:before { content: '\eae5'; } /* '' */
.icon-credit-card-1:before { content: '\eae6'; } /* '' */
.icon-floppy:before { content: '\eae7'; } /* '' */
.icon-clipboard-1:before { content: '\eae8'; } /* '' */
.icon-megaphone-1:before { content: '\eae9'; } /* '' */
.icon-database:before { content: '\eaea'; } /* '' */
.icon-drive:before { content: '\eaeb'; } /* '' */
.icon-bucket:before { content: '\eaec'; } /* '' */
.icon-thermometer:before { content: '\eaed'; } /* '' */
.icon-key-2:before { content: '\eaee'; } /* '' */
.icon-flow-cascade:before { content: '\eaef'; } /* '' */
.icon-flow-branch:before { content: '\eaf0'; } /* '' */
.icon-flow-tree:before { content: '\eaf1'; } /* '' */
.icon-flow-line:before { content: '\eaf2'; } /* '' */
.icon-flow-parallel:before { content: '\eaf3'; } /* '' */
.icon-rocket:before { content: '\eaf4'; } /* '' */
.icon-gauge-1:before { content: '\eaf5'; } /* '' */
.icon-traffic-cone:before { content: '\eaf6'; } /* '' */
.icon-cc-1:before { content: '\eaf7'; } /* '' */
.icon-cc-by:before { content: '\eaf8'; } /* '' */
.icon-cc-nc:before { content: '\eaf9'; } /* '' */
.icon-cc-nc-eu:before { content: '\eafa'; } /* '' */
.icon-cc-nc-jp:before { content: '\eafb'; } /* '' */
.icon-cc-sa:before { content: '\eafc'; } /* '' */
.icon-cc-nd:before { content: '\eafd'; } /* '' */
.icon-cc-pd:before { content: '\eafe'; } /* '' */
.icon-cc-zero:before { content: '\eaff'; } /* '' */
.icon-cc-share:before { content: '\eb00'; } /* '' */
.icon-cc-remix:before { content: '\eb01'; } /* '' */
.icon-github-2:before { content: '\eb02'; } /* '' */
.icon-github-circled-1:before { content: '\eb03'; } /* '' */
.icon-flickr-1:before { content: '\eb04'; } /* '' */
.icon-flickr-circled:before { content: '\eb05'; } /* '' */
.icon-vimeo-1:before { content: '\eb06'; } /* '' */
.icon-vimeo-circled:before { content: '\eb07'; } /* '' */
.icon-twitter-2:before { content: '\eb08'; } /* '' */
.icon-twitter-circled-1:before { content: '\eb09'; } /* '' */
.icon-facebook-2:before { content: '\eb0a'; } /* '' */
.icon-facebook-circled-1:before { content: '\eb0b'; } /* '' */
.icon-facebook-squared:before { content: '\eb0c'; } /* '' */
.icon-gplus-1:before { content: '\eb0d'; } /* '' */
.icon-gplus-circled-1:before { content: '\eb0e'; } /* '' */
.icon-pinterest-1:before { content: '\eb0f'; } /* '' */
.icon-pinterest-circled:before { content: '\eb10'; } /* '' */
.icon-tumblr-1:before { content: '\eb11'; } /* '' */
.icon-tumblr-circled:before { content: '\eb12'; } /* '' */
.icon-linkedin-2:before { content: '\eb13'; } /* '' */
.icon-linkedin-circled-1:before { content: '\eb14'; } /* '' */
.icon-dribbble-2:before { content: '\eb15'; } /* '' */
.icon-dribbble-circled-1:before { content: '\eb16'; } /* '' */
.icon-stumbleupon-1:before { content: '\eb17'; } /* '' */
.icon-stumbleupon-circled:before { content: '\eb18'; } /* '' */
.icon-lastfm:before { content: '\eb19'; } /* '' */
.icon-lastfm-circled:before { content: '\eb1a'; } /* '' */
.icon-rdio:before { content: '\eb1b'; } /* '' */
.icon-rdio-circled:before { content: '\eb1c'; } /* '' */
.icon-spotify:before { content: '\eb1d'; } /* '' */
.icon-spotify-circled:before { content: '\eb1e'; } /* '' */
.icon-qq:before { content: '\eb1f'; } /* '' */
.icon-instagram-2:before { content: '\eb20'; } /* '' */
.icon-dropbox:before { content: '\eb21'; } /* '' */
.icon-evernote:before { content: '\eb22'; } /* '' */
.icon-flattr:before { content: '\eb23'; } /* '' */
.icon-skype-1:before { content: '\eb24'; } /* '' */
.icon-skype-circled:before { content: '\eb25'; } /* '' */
.icon-renren:before { content: '\eb26'; } /* '' */
.icon-sina-weibo:before { content: '\eb27'; } /* '' */
.icon-paypal:before { content: '\eb28'; } /* '' */
.icon-picasa-1:before { content: '\eb29'; } /* '' */
.icon-soundcloud-1:before { content: '\eb2a'; } /* '' */
.icon-mixi:before { content: '\eb2b'; } /* '' */
.icon-behance-1:before { content: '\eb2c'; } /* '' */
.icon-google-circles:before { content: '\eb2d'; } /* '' */
.icon-vkontakte-1:before { content: '\eb2e'; } /* '' */
.icon-smashing:before { content: '\eb2f'; } /* '' */
.icon-sweden:before { content: '\eb30'; } /* '' */
.icon-db-shape:before { content: '\eb31'; } /* '' */
.icon-logo-db:before { content: '\eb32'; } /* '' */
.icon-search-2:before { content: '\e9a8'; } /* '' */
.icon-mail-2:before { content: '\e9a9'; } /* '' */
.icon-heart-2:before { content: '\e9aa'; } /* '' */
.icon-heart-empty-1:before { content: '\e9ab'; } /* '' */
.icon-star-2:before { content: '\e9ac'; } /* '' */
.icon-user-2:before { content: '\e9ad'; } /* '' */
.icon-video-1:before { content: '\e9ae'; } /* '' */
.icon-picture-1:before { content: '\e9af'; } /* '' */
.icon-camera-2:before { content: '\e9b0'; } /* '' */
.icon-ok-2:before { content: '\e9b1'; } /* '' */
.icon-ok-circle:before { content: '\e9b2'; } /* '' */
.icon-cancel-2:before { content: '\e9b3'; } /* '' */
.icon-cancel-circle:before { content: '\e9b4'; } /* '' */
.icon-plus-2:before { content: '\e9b5'; } /* '' */
.icon-plus-circle:before { content: '\e9b6'; } /* '' */
.icon-minus-1:before { content: '\e9b7'; } /* '' */
.icon-minus-circle:before { content: '\e9b8'; } /* '' */
.icon-help-1:before { content: '\e9b9'; } /* '' */
.icon-info:before { content: '\e9ba'; } /* '' */
.icon-home-2:before { content: '\e9bb'; } /* '' */
.icon-link-1:before { content: '\e9bc'; } /* '' */
.icon-attach-2:before { content: '\e9bd'; } /* '' */
.icon-lock-2:before { content: '\e9be'; } /* '' */
.icon-lock-empty:before { content: '\e9bf'; } /* '' */
.icon-lock-open-2:before { content: '\e9c0'; } /* '' */
.icon-lock-open-empty:before { content: '\e9c1'; } /* '' */
.icon-pin:before { content: '\e9c2'; } /* '' */
.icon-eye-2:before { content: '\e9c3'; } /* '' */
.icon-tag-1:before { content: '\e9c4'; } /* '' */
.icon-tag-empty:before { content: '\e9c5'; } /* '' */
.icon-download-2:before { content: '\e9c6'; } /* '' */
.icon-upload-2:before { content: '\e9c7'; } /* '' */
.icon-download-cloud-1:before { content: '\e9c8'; } /* '' */
.icon-upload-cloud-1:before { content: '\e9c9'; } /* '' */
.icon-quote-left:before { content: '\e9ca'; } /* '' */
.icon-quote-right:before { content: '\e9cb'; } /* '' */
.icon-quote-left-alt:before { content: '\e9cc'; } /* '' */
.icon-quote-right-alt:before { content: '\e9cd'; } /* '' */
.icon-pencil-2:before { content: '\e9ce'; } /* '' */
.icon-pencil-neg:before { content: '\e9cf'; } /* '' */
.icon-pencil-alt:before { content: '\e9d0'; } /* '' */
.icon-undo:before { content: '\e9d1'; } /* '' */
.icon-comment-2:before { content: '\e9d2'; } /* '' */
.icon-comment-inv:before { content: '\e9d3'; } /* '' */
.icon-comment-alt-1:before { content: '\e9d4'; } /* '' */
.icon-comment-inv-alt:before { content: '\e9d5'; } /* '' */
.icon-comment-alt2:before { content: '\e9d6'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e9d7'; } /* '' */
.icon-chat-1:before { content: '\e9d8'; } /* '' */
.icon-chat-inv:before { content: '\e9d9'; } /* '' */
.icon-location-2:before { content: '\e9da'; } /* '' */
.icon-location-inv:before { content: '\e9db'; } /* '' */
.icon-location-alt:before { content: '\e9dc'; } /* '' */
.icon-compass-1:before { content: '\e9dd'; } /* '' */
.icon-trash-2:before { content: '\e9de'; } /* '' */
.icon-trash-empty:before { content: '\e9df'; } /* '' */
.icon-doc-2:before { content: '\e9e0'; } /* '' */
.icon-doc-inv:before { content: '\e9e1'; } /* '' */
.icon-doc-alt:before { content: '\e9e2'; } /* '' */
.icon-doc-inv-alt:before { content: '\e9e3'; } /* '' */
.icon-article:before { content: '\e9e4'; } /* '' */
.icon-article-alt:before { content: '\e9e5'; } /* '' */
.icon-book-open:before { content: '\e9e6'; } /* '' */
.icon-folder-2:before { content: '\e9e7'; } /* '' */
.icon-folder-empty-1:before { content: '\e9e8'; } /* '' */
.icon-box:before { content: '\e9e9'; } /* '' */
.icon-rss-1:before { content: '\e9ea'; } /* '' */
.icon-rss-alt:before { content: '\e9eb'; } /* '' */
.icon-cog-2:before { content: '\e9ec'; } /* '' */
.icon-wrench-1:before { content: '\e9ed'; } /* '' */
.icon-share-1:before { content: '\e9ee'; } /* '' */
.icon-calendar-2:before { content: '\e9ef'; } /* '' */
.icon-calendar-inv:before { content: '\e9f0'; } /* '' */
.icon-calendar-alt:before { content: '\e9f1'; } /* '' */
.icon-mic-2:before { content: '\e9f2'; } /* '' */
.icon-volume-off-1:before { content: '\e9f3'; } /* '' */
.icon-volume-up-1:before { content: '\e9f4'; } /* '' */
.icon-headphones-1:before { content: '\e9f5'; } /* '' */
.icon-clock-2:before { content: '\e9f6'; } /* '' */
.icon-lamp:before { content: '\e9f7'; } /* '' */
.icon-block-1:before { content: '\e9f8'; } /* '' */
.icon-resize-full-1:before { content: '\e9f9'; } /* '' */
.icon-resize-full-alt-1:before { content: '\e9fa'; } /* '' */
.icon-resize-small-1:before { content: '\e9fb'; } /* '' */
.icon-resize-small-alt:before { content: '\e9fc'; } /* '' */
.icon-resize-vertical-1:before { content: '\e9fd'; } /* '' */
.icon-resize-horizontal-1:before { content: '\e9fe'; } /* '' */
.icon-move-1:before { content: '\e9ff'; } /* '' */
.icon-popup:before { content: '\ea00'; } /* '' */
.icon-down-2:before { content: '\ea01'; } /* '' */
.icon-left-2:before { content: '\ea02'; } /* '' */
.icon-right-2:before { content: '\ea03'; } /* '' */
.icon-up-2:before { content: '\ea04'; } /* '' */
.icon-down-circle:before { content: '\ea05'; } /* '' */
.icon-left-circle:before { content: '\ea06'; } /* '' */
.icon-right-circle:before { content: '\ea07'; } /* '' */
.icon-up-circle:before { content: '\ea08'; } /* '' */
.icon-cw-1:before { content: '\ea09'; } /* '' */
.icon-loop:before { content: '\ea0a'; } /* '' */
.icon-loop-alt:before { content: '\ea0b'; } /* '' */
.icon-exchange:before { content: '\ea0c'; } /* '' */
.icon-split:before { content: '\ea0d'; } /* '' */
.icon-arrow-curved:before { content: '\ea0e'; } /* '' */
.icon-play-2:before { content: '\ea0f'; } /* '' */
.icon-play-circle2:before { content: '\ea10'; } /* '' */
.icon-stop-2:before { content: '\ea11'; } /* '' */
.icon-pause-2:before { content: '\ea12'; } /* '' */
.icon-to-start-1:before { content: '\ea13'; } /* '' */
.icon-to-end-1:before { content: '\ea14'; } /* '' */
.icon-eject-1:before { content: '\ea15'; } /* '' */
.icon-target-1:before { content: '\ea16'; } /* '' */
.icon-signal-1:before { content: '\ea17'; } /* '' */
.icon-award:before { content: '\ea18'; } /* '' */
.icon-award-empty:before { content: '\ea19'; } /* '' */
.icon-list-1:before { content: '\ea1a'; } /* '' */
.icon-list-nested:before { content: '\ea1b'; } /* '' */
.icon-bat-empty:before { content: '\ea1c'; } /* '' */
.icon-bat-half:before { content: '\ea1d'; } /* '' */
.icon-bat-full:before { content: '\ea1e'; } /* '' */
.icon-bat-charge:before { content: '\ea1f'; } /* '' */
.icon-mobile-1:before { content: '\ea20'; } /* '' */
.icon-cd:before { content: '\ea21'; } /* '' */
.icon-equalizer:before { content: '\ea22'; } /* '' */
.icon-cursor:before { content: '\ea23'; } /* '' */
.icon-aperture:before { content: '\ea24'; } /* '' */
.icon-aperture-alt:before { content: '\ea25'; } /* '' */
.icon-steering-wheel:before { content: '\ea26'; } /* '' */
.icon-book-1:before { content: '\ea27'; } /* '' */
.icon-book-alt:before { content: '\ea28'; } /* '' */
.icon-brush:before { content: '\ea29'; } /* '' */
.icon-brush-alt:before { content: '\ea2a'; } /* '' */
.icon-eyedropper:before { content: '\ea2b'; } /* '' */
.icon-layers:before { content: '\ea2c'; } /* '' */
.icon-layers-alt:before { content: '\ea2d'; } /* '' */
.icon-sun:before { content: '\ea2e'; } /* '' */
.icon-sun-inv:before { content: '\ea2f'; } /* '' */
.icon-cloud-2:before { content: '\ea30'; } /* '' */
.icon-rain:before { content: '\ea31'; } /* '' */
.icon-flash-1:before { content: '\ea32'; } /* '' */
.icon-moon:before { content: '\ea33'; } /* '' */
.icon-moon-inv:before { content: '\ea34'; } /* '' */
.icon-umbrella:before { content: '\ea35'; } /* '' */
.icon-chart-bar-1:before { content: '\ea36'; } /* '' */
.icon-chart-pie:before { content: '\ea37'; } /* '' */
.icon-chart-pie-alt:before { content: '\ea38'; } /* '' */
.icon-note-beamed:before { content: '\eb34'; } /* '' */
.icon-key-inv:before { content: '\ea3a'; } /* '' */
.icon-hash-1:before { content: '\ea3b'; } /* '' */
.icon-at-1:before { content: '\ea3c'; } /* '' */
.icon-pilcrow:before { content: '\ea3d'; } /* '' */
.icon-dial:before { content: '\ea3e'; } /* '' */
.icon-search-1:before { content: '\e90f'; } /* '' */
.icon-mail-1:before { content: '\e910'; } /* '' */
.icon-heart-1:before { content: '\e911'; } /* '' */
.icon-heart-broken:before { content: '\e912'; } /* '' */
.icon-star-1:before { content: '\e913'; } /* '' */
.icon-star-empty-1:before { content: '\e914'; } /* '' */
.icon-star-half:before { content: '\e915'; } /* '' */
.icon-star-half_empty:before { content: '\e916'; } /* '' */
.icon-user-1:before { content: '\e917'; } /* '' */
.icon-user-male:before { content: '\e918'; } /* '' */
.icon-user-female:before { content: '\e919'; } /* '' */
.icon-users:before { content: '\e91a'; } /* '' */
.icon-movie:before { content: '\e91b'; } /* '' */
.icon-videocam-1:before { content: '\e91c'; } /* '' */
.icon-isight:before { content: '\e91d'; } /* '' */
.icon-camera-1:before { content: '\e91e'; } /* '' */
.icon-menu:before { content: '\e91f'; } /* '' */
.icon-th-thumb:before { content: '\e920'; } /* '' */
.icon-th-thumb-empty:before { content: '\e921'; } /* '' */
.icon-th-list-1:before { content: '\e922'; } /* '' */
.icon-ok-1:before { content: '\e923'; } /* '' */
.icon-ok-circled-1:before { content: '\e924'; } /* '' */
.icon-cancel-1:before { content: '\e925'; } /* '' */
.icon-cancel-circled-1:before { content: '\e926'; } /* '' */
.icon-plus-1:before { content: '\e927'; } /* '' */
.icon-help-circled-1:before { content: '\e928'; } /* '' */
.icon-help-circled-alt:before { content: '\e929'; } /* '' */
.icon-info-circled-1:before { content: '\e92a'; } /* '' */
.icon-info-circled-alt:before { content: '\e92b'; } /* '' */
.icon-home-1:before { content: '\e92c'; } /* '' */
.icon-link:before { content: '\e92d'; } /* '' */
.icon-attach-1:before { content: '\e92e'; } /* '' */
.icon-lock-1:before { content: '\e92f'; } /* '' */
.icon-lock-alt:before { content: '\e930'; } /* '' */
.icon-lock-open-1:before { content: '\e931'; } /* '' */
.icon-lock-open-alt-1:before { content: '\e932'; } /* '' */
.icon-eye-1:before { content: '\e933'; } /* '' */
.icon-download-1:before { content: '\e934'; } /* '' */
.icon-upload-1:before { content: '\e935'; } /* '' */
.icon-download-cloud:before { content: '\e936'; } /* '' */
.icon-upload-cloud:before { content: '\e937'; } /* '' */
.icon-reply:before { content: '\e938'; } /* '' */
.icon-pencil-1:before { content: '\e939'; } /* '' */
.icon-export-1:before { content: '\e93a'; } /* '' */
.icon-print-1:before { content: '\e93b'; } /* '' */
.icon-retweet-1:before { content: '\e93c'; } /* '' */
.icon-comment-1:before { content: '\e93d'; } /* '' */
.icon-chat:before { content: '\e93e'; } /* '' */
.icon-bell-1:before { content: '\e93f'; } /* '' */
.icon-attention:before { content: '\e940'; } /* '' */
.icon-attention-alt:before { content: '\e941'; } /* '' */
.icon-location-1:before { content: '\e942'; } /* '' */
.icon-trash-1:before { content: '\e943'; } /* '' */
.icon-doc-1:before { content: '\e944'; } /* '' */
.icon-newspaper:before { content: '\e945'; } /* '' */
.icon-folder-1:before { content: '\e946'; } /* '' */
.icon-folder-open-1:before { content: '\e947'; } /* '' */
.icon-folder-empty:before { content: '\e948'; } /* '' */
.icon-folder-open-empty:before { content: '\e949'; } /* '' */
.icon-cog-1:before { content: '\e94a'; } /* '' */
.icon-calendar-1:before { content: '\e94b'; } /* '' */
.icon-login:before { content: '\e94c'; } /* '' */
.icon-logout:before { content: '\e94d'; } /* '' */
.icon-mic-1:before { content: '\e94e'; } /* '' */
.icon-mic-off:before { content: '\e94f'; } /* '' */
.icon-clock-1:before { content: '\e950'; } /* '' */
.icon-stopwatch:before { content: '\e951'; } /* '' */
.icon-hourglass:before { content: '\e952'; } /* '' */
.icon-zoom-in-1:before { content: '\e953'; } /* '' */
.icon-zoom-out-1:before { content: '\e954'; } /* '' */
.icon-down-open-1:before { content: '\e955'; } /* '' */
.icon-left-open-1:before { content: '\e956'; } /* '' */
.icon-right-open-1:before { content: '\e957'; } /* '' */
.icon-up-open-1:before { content: '\e958'; } /* '' */
.icon-down-1:before { content: '\e959'; } /* '' */
.icon-left-1:before { content: '\e95a'; } /* '' */
.icon-right-1:before { content: '\e95b'; } /* '' */
.icon-up-1:before { content: '\e95c'; } /* '' */
.icon-down-bold:before { content: '\e95d'; } /* '' */
.icon-left-bold:before { content: '\e95e'; } /* '' */
.icon-right-bold:before { content: '\e95f'; } /* '' */
.icon-up-bold:before { content: '\e960'; } /* '' */
.icon-down-fat:before { content: '\e961'; } /* '' */
.icon-left-fat:before { content: '\e962'; } /* '' */
.icon-right-fat:before { content: '\e963'; } /* '' */
.icon-up-fat:before { content: '\e964'; } /* '' */
.icon-ccw:before { content: '\e965'; } /* '' */
.icon-shuffle-1:before { content: '\e966'; } /* '' */
.icon-play-1:before { content: '\e967'; } /* '' */
.icon-pause-1:before { content: '\e968'; } /* '' */
.icon-stop-1:before { content: '\e969'; } /* '' */
.icon-to-end:before { content: '\e96a'; } /* '' */
.icon-to-start:before { content: '\e96b'; } /* '' */
.icon-fast-forward-1:before { content: '\e96c'; } /* '' */
.icon-fast-backward-1:before { content: '\e96d'; } /* '' */
.icon-trophy:before { content: '\e96e'; } /* '' */
.icon-monitor:before { content: '\e96f'; } /* '' */
.icon-tablet:before { content: '\e970'; } /* '' */
.icon-mobile:before { content: '\e971'; } /* '' */
.icon-data-science:before { content: '\e972'; } /* '' */
.icon-data-science-inv:before { content: '\e973'; } /* '' */
.icon-inbox-1:before { content: '\e974'; } /* '' */
.icon-globe-1:before { content: '\e975'; } /* '' */
.icon-globe-inv:before { content: '\e976'; } /* '' */
.icon-flash:before { content: '\e977'; } /* '' */
.icon-cloud-1:before { content: '\e978'; } /* '' */
.icon-coverflow:before { content: '\e979'; } /* '' */
.icon-coverflow-empty:before { content: '\e97a'; } /* '' */
.icon-math:before { content: '\e97b'; } /* '' */
.icon-math-circled:before { content: '\e97c'; } /* '' */
.icon-math-circled-empty:before { content: '\e97d'; } /* '' */
.icon-paper-plane:before { content: '\e97e'; } /* '' */
.icon-paper-plane-alt:before { content: '\e97f'; } /* '' */
.icon-paper-plane-alt2:before { content: '\e980'; } /* '' */
.icon-fontsize-1:before { content: '\e981'; } /* '' */
.icon-color-adjust:before { content: '\e982'; } /* '' */
.icon-fire-1:before { content: '\e983'; } /* '' */
.icon-chart-bar:before { content: '\e984'; } /* '' */
.icon-hdd-1:before { content: '\e985'; } /* '' */
.icon-connected-object:before { content: '\e986'; } /* '' */
.icon-ruler:before { content: '\e987'; } /* '' */
.icon-vector:before { content: '\e988'; } /* '' */
.icon-vector-pencil:before { content: '\e989'; } /* '' */
.icon-at:before { content: '\e98a'; } /* '' */
.icon-hash:before { content: '\e98b'; } /* '' */
.icon-female-1:before { content: '\e98c'; } /* '' */
.icon-male-1:before { content: '\e98d'; } /* '' */
.icon-spread:before { content: '\e98e'; } /* '' */
.icon-king:before { content: '\e98f'; } /* '' */
.icon-anchor:before { content: '\e990'; } /* '' */
.icon-joystick:before { content: '\e991'; } /* '' */
.icon-spinner1:before { content: '\e992'; } /* '' */
.icon-spinner2:before { content: '\e993'; } /* '' */
.icon-github-1:before { content: '\e994'; } /* '' */
.icon-github-circled:before { content: '\e995'; } /* '' */
.icon-github-circled-alt:before { content: '\e996'; } /* '' */
.icon-github-circled-alt2:before { content: '\e997'; } /* '' */
.icon-twitter-1:before { content: '\e998'; } /* '' */
.icon-twitter-circled:before { content: '\e999'; } /* '' */
.icon-facebook-1:before { content: '\e99a'; } /* '' */
.icon-facebook-circled:before { content: '\e99b'; } /* '' */
.icon-gplus:before { content: '\e99c'; } /* '' */
.icon-gplus-circled:before { content: '\e99d'; } /* '' */
.icon-linkedin-1:before { content: '\e99e'; } /* '' */
.icon-linkedin-circled:before { content: '\e99f'; } /* '' */
.icon-dribbble-1:before { content: '\e9a0'; } /* '' */
.icon-dribbble-circled:before { content: '\e9a1'; } /* '' */
.icon-instagram-1:before { content: '\e9a2'; } /* '' */
.icon-instagram-circled:before { content: '\e9a3'; } /* '' */
.icon-soundcloud:before { content: '\e9a4'; } /* '' */
.icon-soundcloud-circled:before { content: '\e9a5'; } /* '' */
.icon-mfg-logo:before { content: '\e9a6'; } /* '' */
.icon-mfg-logo-circled:before { content: '\e9a7'; } /* '' */
.icon-glass:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-search-circled:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-mail-circled:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-heart-circled:before { content: '\e807'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-star:before { content: '\e809'; } /* '' */
.icon-star-circled:before { content: '\e80a'; } /* '' */
.icon-star-empty:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-group:before { content: '\e80d'; } /* '' */
.icon-group-circled:before { content: '\e80e'; } /* '' */
.icon-torso:before { content: '\e80f'; } /* '' */
.icon-video:before { content: '\e810'; } /* '' */
.icon-video-circled:before { content: '\e811'; } /* '' */
.icon-video-alt:before { content: '\e812'; } /* '' */
.icon-videocam:before { content: '\e813'; } /* '' */
.icon-video-chat:before { content: '\e814'; } /* '' */
.icon-picture:before { content: '\e815'; } /* '' */
.icon-camera:before { content: '\e816'; } /* '' */
.icon-photo:before { content: '\e817'; } /* '' */
.icon-photo-circled:before { content: '\e818'; } /* '' */
.icon-th-large:before { content: '\e819'; } /* '' */
.icon-th:before { content: '\e81a'; } /* '' */
.icon-th-list:before { content: '\e81b'; } /* '' */
.icon-view-mode:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-ok-circled:before { content: '\e81e'; } /* '' */
.icon-ok-circled2:before { content: '\e81f'; } /* '' */
.icon-cancel:before { content: '\e820'; } /* '' */
.icon-cancel-circled:before { content: '\e821'; } /* '' */
.icon-cancel-circled2:before { content: '\e822'; } /* '' */
.icon-plus:before { content: '\e823'; } /* '' */
.icon-plus-circled:before { content: '\e824'; } /* '' */
.icon-minus:before { content: '\e825'; } /* '' */
.icon-minus-circled:before { content: '\e826'; } /* '' */
.icon-help:before { content: '\e827'; } /* '' */
.icon-help-circled:before { content: '\e828'; } /* '' */
.icon-info-circled:before { content: '\e829'; } /* '' */
.icon-home:before { content: '\e82a'; } /* '' */
.icon-home-circled:before { content: '\e82b'; } /* '' */
.icon-website:before { content: '\e82c'; } /* '' */
.icon-website-circled:before { content: '\e82d'; } /* '' */
.icon-attach:before { content: '\e82e'; } /* '' */
.icon-attach-circled:before { content: '\e82f'; } /* '' */
.icon-lock:before { content: '\e830'; } /* '' */
.icon-lock-circled:before { content: '\e831'; } /* '' */
.icon-lock-open:before { content: '\e832'; } /* '' */
.icon-lock-open-alt:before { content: '\e833'; } /* '' */
.icon-eye:before { content: '\e834'; } /* '' */
.icon-eye-off:before { content: '\e835'; } /* '' */
.icon-tag:before { content: '\e836'; } /* '' */
.icon-tags:before { content: '\e837'; } /* '' */
.icon-bookmark:before { content: '\e838'; } /* '' */
.icon-bookmark-empty:before { content: '\e839'; } /* '' */
.icon-flag:before { content: '\e83a'; } /* '' */
.icon-flag-circled:before { content: '\e83b'; } /* '' */
.icon-thumbs-up:before { content: '\e83c'; } /* '' */
.icon-thumbs-down:before { content: '\e83d'; } /* '' */
.icon-download:before { content: '\e83e'; } /* '' */
.icon-download-alt:before { content: '\e83f'; } /* '' */
.icon-upload:before { content: '\e840'; } /* '' */
.icon-share:before { content: '\e841'; } /* '' */
.icon-quote:before { content: '\e842'; } /* '' */
.icon-quote-circled:before { content: '\e843'; } /* '' */
.icon-export:before { content: '\e844'; } /* '' */
.icon-pencil:before { content: '\e845'; } /* '' */
.icon-pencil-circled:before { content: '\e846'; } /* '' */
.icon-edit:before { content: '\e847'; } /* '' */
.icon-edit-circled:before { content: '\e848'; } /* '' */
.icon-edit-alt:before { content: '\e849'; } /* '' */
.icon-print:before { content: '\e84a'; } /* '' */
.icon-retweet:before { content: '\e84b'; } /* '' */
.icon-comment:before { content: '\e84c'; } /* '' */
.icon-comment-alt:before { content: '\e84d'; } /* '' */
.icon-bell:before { content: '\e84e'; } /* '' */
.icon-warning:before { content: '\e84f'; } /* '' */
.icon-exclamation:before { content: '\e850'; } /* '' */
.icon-error:before { content: '\e851'; } /* '' */
.icon-error-alt:before { content: '\e852'; } /* '' */
.icon-location:before { content: '\e853'; } /* '' */
.icon-location-circled:before { content: '\e854'; } /* '' */
.icon-compass:before { content: '\e855'; } /* '' */
.icon-compass-circled:before { content: '\e856'; } /* '' */
.icon-trash:before { content: '\e857'; } /* '' */
.icon-trash-circled:before { content: '\e858'; } /* '' */
.icon-doc:before { content: '\e859'; } /* '' */
.icon-doc-circled:before { content: '\e85a'; } /* '' */
.icon-doc-new:before { content: '\e85b'; } /* '' */
.icon-doc-new-circled:before { content: '\e85c'; } /* '' */
.icon-folder:before { content: '\e85d'; } /* '' */
.icon-folder-circled:before { content: '\e85e'; } /* '' */
.icon-folder-close:before { content: '\e85f'; } /* '' */
.icon-folder-open:before { content: '\e860'; } /* '' */
.icon-rss:before { content: '\e861'; } /* '' */
.icon-phone:before { content: '\e862'; } /* '' */
.icon-phone-circled:before { content: '\e863'; } /* '' */
.icon-cog:before { content: '\e864'; } /* '' */
.icon-cog-circled:before { content: '\e865'; } /* '' */
.icon-cogs:before { content: '\e866'; } /* '' */
.icon-wrench:before { content: '\e867'; } /* '' */
.icon-wrench-circled:before { content: '\e868'; } /* '' */
.icon-basket:before { content: '\e869'; } /* '' */
.icon-basket-circled:before { content: '\e86a'; } /* '' */
.icon-calendar:before { content: '\e86b'; } /* '' */
.icon-calendar-circled:before { content: '\e86c'; } /* '' */
.icon-mic:before { content: '\e86d'; } /* '' */
.icon-mic-circled:before { content: '\e86e'; } /* '' */
.icon-volume-off:before { content: '\e86f'; } /* '' */
.icon-volume-down:before { content: '\e870'; } /* '' */
.icon-volume:before { content: '\e871'; } /* '' */
.icon-volume-up:before { content: '\e872'; } /* '' */
.icon-headphones:before { content: '\e873'; } /* '' */
.icon-clock:before { content: '\e874'; } /* '' */
.icon-clock-circled:before { content: '\e875'; } /* '' */
.icon-lightbulb:before { content: '\e876'; } /* '' */
.icon-lightbulb-alt:before { content: '\e877'; } /* '' */
.icon-block:before { content: '\e878'; } /* '' */
.icon-resize-full:before { content: '\e879'; } /* '' */
.icon-resize-full-alt:before { content: '\e87a'; } /* '' */
.icon-resize-small:before { content: '\e87b'; } /* '' */
.icon-resize-vertical:before { content: '\e87c'; } /* '' */
.icon-resize-horizontal:before { content: '\e87d'; } /* '' */
.icon-move:before { content: '\e87e'; } /* '' */
.icon-zoom-in:before { content: '\e87f'; } /* '' */
.icon-zoom-out:before { content: '\e880'; } /* '' */
.icon-down-open:before { content: '\e881'; } /* '' */
.icon-left-open:before { content: '\e882'; } /* '' */
.icon-right-open:before { content: '\e883'; } /* '' */
.icon-up-open:before { content: '\e884'; } /* '' */
.icon-down:before { content: '\e885'; } /* '' */
.icon-left:before { content: '\e886'; } /* '' */
.icon-right:before { content: '\e887'; } /* '' */
.icon-up:before { content: '\e888'; } /* '' */
.icon-down-circled:before { content: '\e889'; } /* '' */
.icon-left-circled:before { content: '\e88a'; } /* '' */
.icon-right-circled:before { content: '\e88b'; } /* '' */
.icon-up-circled:before { content: '\e88c'; } /* '' */
.icon-down-hand:before { content: '\e88d'; } /* '' */
.icon-left-hand:before { content: '\e88e'; } /* '' */
.icon-right-hand:before { content: '\e88f'; } /* '' */
.icon-up-hand:before { content: '\e890'; } /* '' */
.icon-cw:before { content: '\e891'; } /* '' */
.icon-cw-circled:before { content: '\e892'; } /* '' */
.icon-arrows-cw:before { content: '\e893'; } /* '' */
.icon-shuffle:before { content: '\e894'; } /* '' */
.icon-play:before { content: '\e895'; } /* '' */
.icon-play-circled:before { content: '\e896'; } /* '' */
.icon-play-circled2:before { content: '\e897'; } /* '' */
.icon-stop:before { content: '\e898'; } /* '' */
.icon-stop-circled:before { content: '\e899'; } /* '' */
.icon-pause:before { content: '\e89a'; } /* '' */
.icon-pause-circled:before { content: '\e89b'; } /* '' */
.icon-record:before { content: '\e89c'; } /* '' */
.icon-eject:before { content: '\e89d'; } /* '' */
.icon-backward:before { content: '\e89e'; } /* '' */
.icon-backward-circled:before { content: '\e89f'; } /* '' */
.icon-fast-backward:before { content: '\e8a0'; } /* '' */
.icon-fast-forward:before { content: '\e8a1'; } /* '' */
.icon-forward:before { content: '\e8a2'; } /* '' */
.icon-forward-circled:before { content: '\e8a3'; } /* '' */
.icon-step-backward:before { content: '\e8a4'; } /* '' */
.icon-step-forward:before { content: '\e8a5'; } /* '' */
.icon-target:before { content: '\e8a6'; } /* '' */
.icon-signal:before { content: '\e8a7'; } /* '' */
.icon-desktop:before { content: '\e8a8'; } /* '' */
.icon-desktop-circled:before { content: '\e8a9'; } /* '' */
.icon-laptop:before { content: '\e8aa'; } /* '' */
.icon-laptop-circled:before { content: '\e8ab'; } /* '' */
.icon-network:before { content: '\e8ac'; } /* '' */
.icon-inbox:before { content: '\e8ad'; } /* '' */
.icon-inbox-circled:before { content: '\e8ae'; } /* '' */
.icon-inbox-alt:before { content: '\e8af'; } /* '' */
.icon-globe:before { content: '\e8b0'; } /* '' */
.icon-globe-alt:before { content: '\e8b1'; } /* '' */
.icon-cloud:before { content: '\e8b2'; } /* '' */
.icon-cloud-circled:before { content: '\e8b3'; } /* '' */
.icon-flight:before { content: '\e8b4'; } /* '' */
.icon-leaf:before { content: '\e8b5'; } /* '' */
.icon-font:before { content: '\e8b6'; } /* '' */
.icon-fontsize:before { content: '\e8b7'; } /* '' */
.icon-bold:before { content: '\e8b8'; } /* '' */
.icon-italic:before { content: '\e8b9'; } /* '' */
.icon-text-height:before { content: '\e8ba'; } /* '' */
.icon-text-width:before { content: '\e8bb'; } /* '' */
.icon-align-left:before { content: '\e8bc'; } /* '' */
.icon-align-center:before { content: '\e8bd'; } /* '' */
.icon-align-right:before { content: '\e8be'; } /* '' */
.icon-align-justify:before { content: '\e8bf'; } /* '' */
.icon-list:before { content: '\e8c0'; } /* '' */
.icon-indent-left:before { content: '\e8c1'; } /* '' */
.icon-indent-right:before { content: '\e8c2'; } /* '' */
.icon-briefcase:before { content: '\e8c3'; } /* '' */
.icon-off:before { content: '\e8c4'; } /* '' */
.icon-road:before { content: '\e8c5'; } /* '' */
.icon-qrcode:before { content: '\e8c6'; } /* '' */
.icon-barcode:before { content: '\e8c7'; } /* '' */
.icon-braille:before { content: '\e8c8'; } /* '' */
.icon-book:before { content: '\e8c9'; } /* '' */
.icon-adjust:before { content: '\e8ca'; } /* '' */
.icon-tint:before { content: '\e8cb'; } /* '' */
.icon-check:before { content: '\e8cc'; } /* '' */
.icon-check-empty:before { content: '\e8cd'; } /* '' */
.icon-asterisk:before { content: '\e8ce'; } /* '' */
.icon-gift:before { content: '\e8cf'; } /* '' */
.icon-fire:before { content: '\e8d0'; } /* '' */
.icon-magnet:before { content: '\e8d1'; } /* '' */
.icon-chart:before { content: '\e8d2'; } /* '' */
.icon-chart-circled:before { content: '\e8d3'; } /* '' */
.icon-credit-card:before { content: '\e8d4'; } /* '' */
.icon-megaphone:before { content: '\e8d5'; } /* '' */
.icon-clipboard:before { content: '\e8d6'; } /* '' */
.icon-hdd:before { content: '\e8d7'; } /* '' */
.icon-key:before { content: '\e8d8'; } /* '' */
.icon-certificate:before { content: '\e8d9'; } /* '' */
.icon-tasks:before { content: '\e8da'; } /* '' */
.icon-filter:before { content: '\e8db'; } /* '' */
.icon-gauge:before { content: '\e8dc'; } /* '' */
.icon-smiley:before { content: '\e8dd'; } /* '' */
.icon-smiley-circled:before { content: '\e8de'; } /* '' */
.icon-address-book:before { content: '\e8df'; } /* '' */
.icon-address-book-alt:before { content: '\e8e0'; } /* '' */
.icon-asl:before { content: '\e8e1'; } /* '' */
.icon-glasses:before { content: '\e8e2'; } /* '' */
.icon-hearing-impaired:before { content: '\e8e3'; } /* '' */
.icon-iphone-home:before { content: '\e8e4'; } /* '' */
.icon-person:before { content: '\e8e5'; } /* '' */
.icon-adult:before { content: '\e8e6'; } /* '' */
.icon-child:before { content: '\e8e7'; } /* '' */
.icon-blind:before { content: '\e8e8'; } /* '' */
.icon-guidedog:before { content: '\e8e9'; } /* '' */
.icon-accessibility:before { content: '\e8ea'; } /* '' */
.icon-universal-access:before { content: '\e8eb'; } /* '' */
.icon-male:before { content: '\e8ec'; } /* '' */
.icon-female:before { content: '\e8ed'; } /* '' */
.icon-behance:before { content: '\e8ee'; } /* '' */
.icon-blogger:before { content: '\e8ef'; } /* '' */
.icon-cc:before { content: '\e8f0'; } /* '' */
.icon-css:before { content: '\e8f1'; } /* '' */
.icon-delicious:before { content: '\e8f2'; } /* '' */
.icon-deviantart:before { content: '\e8f3'; } /* '' */
.icon-digg:before { content: '\e8f4'; } /* '' */
.icon-dribbble:before { content: '\e8f5'; } /* '' */
.icon-facebook:before { content: '\e8f6'; } /* '' */
.icon-flickr:before { content: '\e8f7'; } /* '' */
.icon-foursquare:before { content: '\e8f8'; } /* '' */
.icon-friendfeed:before { content: '\e8f9'; } /* '' */
.icon-friendfeed-rect:before { content: '\e8fa'; } /* '' */
.icon-github:before { content: '\e8fb'; } /* '' */
.icon-github-text:before { content: '\e8fc'; } /* '' */
.icon-googleplus:before { content: '\e8fd'; } /* '' */
.icon-instagram:before { content: '\e8fe'; } /* '' */
.icon-linkedin:before { content: '\e8ff'; } /* '' */
.icon-path:before { content: '\e900'; } /* '' */
.icon-picasa:before { content: '\e901'; } /* '' */
.icon-pinterest:before { content: '\e902'; } /* '' */
.icon-reddit:before { content: '\e903'; } /* '' */
.icon-skype:before { content: '\e904'; } /* '' */
.icon-slideshare:before { content: '\e905'; } /* '' */
.icon-stackoverflow:before { content: '\e906'; } /* '' */
.icon-stumbleupon:before { content: '\e907'; } /* '' */
.icon-twitter:before { content: '\e908'; } /* '' */
.icon-tumblr:before { content: '\e909'; } /* '' */
.icon-vimeo:before { content: '\e90a'; } /* '' */
.icon-vkontakte:before { content: '\e90b'; } /* '' */
.icon-w3c:before { content: '\e90c'; } /* '' */
.icon-wordpress:before { content: '\e90d'; } /* '' */
.icon-key-1:before { content: '\ea39'; } /* '' */
